<h2 id="title">Hello World from Ember CLI running inside Electron</h2>

<p>
  <ul>
    <li>node.js version: {{process.versions.node}}</li>
    <li>Chromium version: {{process.versions.chrome}}</li>
    <li>Electron version: {{process.versions.electron}}</li>
    <li>Ember version: {{emberVersion}}</li>
  </ul>
</p>

{{outlet}}
